*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.parent{padding:20px;
    background-color:coral;
display:flex;
flex-wrap:wrap;
/* gap:49px; */
row-gap:10px;
column-gap:10px;
/* flex-direction:column; */
justify-content:space-around;
}
.child{
    height:200px;
    width: 200px;
    border:2px dashed black;
    background-color:bisque;
    border-radius:15px;
    font-size:23px;
}