*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

.card.big{
    padding:20px;
    margin:0px;
    background-color:aquamarine;
}
.card.bg-green{
    padding:24px;
    margin:0px auto;
    background-color:greenyellow;
}
.card.bg-red{
    padding:20px;
    margin: 0 auto; 
    background-color:red;

}
.card.bg-lightgrey{
    padding:50px; 
    background-color: lightgrey;
}
.card.bg-yellow{
    border:4px dashed black;
    border-radius:12px;
    padding:40px; 
    background-color:yellow;
    text-decoration:underline;
}
#underline-wavy{
    text-decoration:dotted;
    
}